.app {
    max-width: 1280px;
    margin: 0 auto;
}

.changepassword {
    margin: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.changepassword__header {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.changepassword__form {
    width: 300px;
    text-align: center;
}

.changepassword__group {
    margin: 10px 0;
}

.changepassword__title-element {
    font-size: 16px;
    margin: 5px 0;
}